@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
} 
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px 30px; /* 15px top/bottom, 30px left/right */
  text-align: left;
}

th {
  background-color: #94a3b8; /* gray */
  letter-spacing: 2px;
  opacity: .5;
}

tr {
  background-color: #e2e8f0;
  border-bottom: 3px solid whitesmoke;
}
